.main-container {
  width: 100%;
  line-height: 1.618;
}
.room-booking {
  max-width: 1128px;
  margin: auto;
  margin-top: 20px;
}
.room-booking,
.booking-view {
  padding: 0 8px;
  border-radius: 4px;
  line-height: 1.618;
}
.booking-view {
  position: -webkit-sticky;
  position: sticky !important;
  top: 40px;
  width: 100%;
  height: 100%;
}
.rooms {
  width: 100%;
  height: 100%;
}
.room {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  box-shadow: 0 7px 30px -10px #96aab480;
}
.room-type {
  display: flex;
  text-align: left;
}
.room-type-carousel {
  width: 300px;
}
.room-type-list {
  display: flex;
}
.room-type-list li {
  list-style-type: none;
  padding-right: 10px;
}
.swiper-slide {
  background: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.room-type-intro {
  text-align-last: left;
  padding: 10px;
}
.room-type-heading {
  color: #383b3e;
  font-weight: 600;
  font-size: 1.25rem;
  margin-right: 4px;
  line-height: 24px;
}
.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  margin-bottom: 10px;
}
.room-rate-list {
  text-align: left;
  min-height: 130px;
  padding: 0 16px 24px 16px;
  font-size: 1rem;
  display: block;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.room-rate-name {
  color: #383b3e;
  font-size: 0.875em;
  line-height: 1.22;
  font-weight: 400;
  clear: both;
  display: block;
  margin: 10px 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}
.room-rate-name:hover {
  color: #007dbb;
}
.rate-price {
  margin-right: 16px;
}

.rate-select-btn {
  line-height: 36px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  transition: all 0.1s;
  white-space: nowrap;
  border: 2px solid;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 7px;
  margin-top: 10px;
  background: #066a92;
  color: #fff;
  cursor: pointer;
}
.rate-select-btn:hover {
  background: #005e84;
}
.sold-out {
  background: #eaeaf2;
  color: #383b3e;
  border-radius: 4px;
  font-size: 0.875em;
  line-height: 24px;
  padding-left: 6px;
  padding-right: 6px;
  align-self: flex-end;
  margin-top: 8px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.sold-out-btn {
  line-height: 36px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  transition: all 0.1s;
  white-space: nowrap;
  border: 2px solid #ccc;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 7px;
  margin-top: 10px;
  background-color: #fff;
  color: #000000d9;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 16px;
}
.sold-out-btn:hover {
  background: #066a92;
  color: #fff;
}
