$themeColor: #026082;
$bookHeader: #00729c;
$labelColor: #b6b6b6;

.book-header {
  cursor: pointer;
  height: 100%;
  position: sticky;
  top: 0;
  .book-nav {
    color: #fff;
    background-color: $bookHeader;
    .text-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      a {
        color: #fff;
        text-decoration: none;
      }
      p {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 0;
        span {
          font-size: 1.25rem;
          font-weight: 500;
        }
      }
    }
    ul {
      margin-bottom: 0;
      list-style-type: none;
      display: flex;
      text-align: center;
      justify-content: space-between;
      font-size: 1.125rem;
      font-weight: 400;
    }
    .sub-nav {
      border-left: 1px solid $labelColor;
      li {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      li.active {
        border-bottom: 2px solid #fff;
      }
    }
    .right-nav {
      li {
        padding: 0px 10px;
        margin: 10px 0;
      }
      li.first {
        border-right: 1px solid #fff;
      }
    }
    .logo {
      img {
        width: 100%;
      }
    }
  }
}

////
.pay-btn-logout {
  padding: 0px 8px;
  border-radius: 4px;
  transition: all 0.1s;
  white-space: nowrap;
  border: 2px solid;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 3px 10px;
  background: #fff;
  color: #004862;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #004a65;
  }
}
