.main-container {
  width: 100%;
  height: 100%;
  line-height: 1.618;
  position: relative;
  background: #f2f7f9;
  .sticky-searchbar {
    position: sticky;
    top: 47.5px;
    z-index: 4;
    background-color: #f2f7f9;
    padding: 10px 10px 0;
  }
  .room-booking {
    max-width: 1128px;
    margin: auto;
    .ant-tabs {
      background-color: #fff;
    }
    .ant-tabs-top > .ant-tabs-nav {
      margin: 0;
      position: sticky;
      top: 139.5px;
      z-index: 3;
      background-color: #f2f7f9;
      // box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
      // display: none;
    }
    .ant-tabs-tab {
      padding: 3px 0;
    }
    .room-list {
      .none-tab-mt {
        margin-top: 30px;
      }
    }
  }
}

.room-list,
.booking-view {
  padding: 0 8px;
  border-radius: 4px;
  line-height: 1.618;
}
.booking-view {
  position: -webkit-sticky;
  position: sticky !important;
  top: 150px;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  // margin-top: 30px;
}
.daterangepicker {
  z-index: 999;
}
