$themeColor: #026082;
$labelColor: #b6b6b6;

.header {
  width: 100%;
  height: calc(100vh - 70px);

  .images-slide {
    height: calc(100vh - 70px);
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .logo {
    position: absolute;
    top: 30px;
    width: 100%;

    img {
      width: 400px;
    }
  }

  .bookNowButton {
    position: absolute;
    top: 40px;
    right: 60px;
    width: 140px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
  }
  .bookNowButton:hover {
    background-color: $themeColor;
    cursor: pointer;
  }
}

.searchBar {
  width: 100%;
  height: 70px;
  overflow: hidden;

  form {
    display: flex;
    justify-content: center;

    .form-group {
      width: 205px;
      margin: 10px;

      .ant-picker,
      .ant-select-selector {
        border: unset;
      }

      p {
        padding-left: 40px;
        margin: unset;
        font-size: 12px;
        font-weight: 700;
        color: #b6b6b6;
        text-align: left;
      }
      input,
      .ant-select-selection-item {
        color: $themeColor;
        font-weight: 700;
        font-size: 17px;
        text-align: left;
      }
    }

    .bookNowButton {
      width: 170px;
      height: 45px;
      margin: 12px;
      border: unset;
      background-color: $themeColor;
      color: white;
    }
    .bookNowButton:hover {
      background-color: #036f96;
      cursor: pointer;
    }
  }
}
