.availableRooms{
   display: flex;
   justify-content: flex-start;

   .availableRoom{
      width: 100px;
      padding: 3px;
      margin: 2px;
      border-radius: 3px;
      background-color: #72f572;
      text-align: center;
      font-weight: 500;
      font-size: 20px;
   }
   .availableRoom:hover{
      cursor: pointer;
      background-color: rgba(71, 71, 255, 0.986);
      transition: all 0.2s linear;
   }
   .active{
      background-color: rgba(71, 71, 255, 0.986);
   }
}