.addForm{
   width: 80%;
   margin: 20px auto;

   .addFormButton-container{
      width: fit-content;
      margin: auto;
      
      .button{
         width: 100px;
         border: unset;
         padding: 5px;
         margin: 20px;
         color: white;
         background-color: #026082;
         box-shadow: 1px 1px 4px 1px #8080808c;
      }
      .button:hover{
         cursor: pointer;
         background-color: #01688e;
      }
      .button:active{
         background-color: #0276a1;
      }
      .button:disabled{
         cursor: not-allowed;
         color: grey;
         background-color: rgb(223, 223, 223);
      }
   }

}