.adminHomePage{
   position: relative;
   margin-top: 30px;
   margin: auto;

   .exit-admin-btn{
      position: absolute;
      top: 60px;
      left: 15px;
      width: 50px;
      height: 50px;
      border-radius: 3px;
      box-shadow: 1px 1px 2px #808080a3;
      line-height: 45px;
      text-align: center;

      img{
         width: 30px;
      }
   }
   .exit-admin-btn:hover{
      cursor: pointer;
      transform: scale(1.1);
      transition: all .1s ease-in-out;
   }

   header{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: sticky;
      top: 0;
      z-index: 16;
      background-color: #026082;
      color: white;
      padding: 3px;
      
      .header-group{
         display: flex;
         justify-content: center;

         .adminLogo{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 200px;
            margin-left: 20px;
            border-right: 1px solid grey;
            
            .headerLogo{
               width: 100%;
               text-align: center;
            }
            i{
               font-size: 12px;
            }
         }
         .adminLogo:hover{
            cursor: pointer;
         }
         .adminNavLink{
            display: flex;
            justify-content: flex-start;
   
            .button{
               width: 107px;
               height: 40px;
               padding: 3px;
               color: white ;
               line-height: 40px;
               font-weight: 600;
               text-align: center;
               text-decoration: none;
            }
            .button:hover{
               color: white ;
               background-color: #01678b;
               border-bottom: 2px solid white;
            }
            .button:active{
               background-color: #0085b6 ;
            }
            .active{
               border-bottom: 2px solid white;
            }
         }
      }
   }

   .backgroundImage{
      width: 100%;
      height: 120px;
      margin-bottom: 50px;
      overflow: hidden;

      img{
         transform: translateY(-200px);
         width: 100%;
      }
   }

   .title{
      position: absolute;
      top: 140px;
      left: calc(50% - 25vw);
      display: block;
      width: 50vw;
      padding: 7px;
      border: 2px solid #026082;
      border-radius: 12px;
      font-size: 30px;
      color: #026082;
      background-color: white;
      text-align: center;
   }

   .adminContent{
      min-height: 86vh;
      background-color: #a1bcee24;
   }

   .home-footer{
      position: relative;
      bottom: 0;
      width: 100%;
      height: 40px;
      background-color: #026082;
      
      span{
         height: 100%;
         line-height: 40px;
         padding: 5px;
         color: white
      }
   }
}