.adminLayout{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;

   
   .navLink-btn{
      flex-basis: 40%;
      
      .btn-container{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         width: 80%;
         height: 70%;
         margin: 15% auto;

         a{
            display: block;
            text-decoration: none;
            width: 220px;
            height: 50px;
            border-radius: 4px;
            box-shadow: 1px 1px 3px 1px #0679a2aa;
            color:#026082;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
            line-height: 50px;
            transition: all .1s linear;
         }
         a:hover{
            background-color: #036a8f;
            color: white;
         }
         a:active{
            background-color: #03769f;
         }
      }
   }


   .images-slide {
      flex-basis: 60%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 4% auto;

      .header-image{
         display: flex;
         justify-content: center;
         width: 80%;
         height: 50%;
         overflow: hidden;

         img {
            max-height: 70vh;
            object-fit: cover;
         }
      }
   }
}