.analysis{
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;

   .analysis-group{
      position: relative;
      width: 350px;
      height: 150px;
      border-radius: 10px; 
      box-shadow: 1px 1px 2px 1px #025674a8;
      background-color: #e4f2f6;
      padding: 15px 20px;
      margin: 20px 30px;

      .analysisTitle{
         display: flex;
         justify-content: space-between;

         p{
            color: #025574;
            font-weight: 600;
         }

         .icon{
            width: 45px;
            height: 45px;
            border-radius: 5px;
            background-color: rgb(237, 237, 237);
            box-shadow: 1px 1px 2px 1px rgba(128, 128, 128, 0.321);
            text-align: center;
            line-height: 45px;
            color: #025574;
            font-size: 22px;
         }
      }
      .analysisContent{
         position: relative;

         .revenuseValue{
            position: relative;
            top: 15px;
            font-size: 35px;
         }
         p{
            font-size: 26px;
            color: rgb(38, 23, 23);

            span{
               display: inline-block;
               width: 20%;
               color: #025674d1;
               font-size: 16px;
            }
         }
      }
   }
}