.clock{
   position: absolute;
   top: 10px;
   right: 10px;
   border: 2px solid #026082;
   border-radius: 5px;
   width: fit-content;
   padding: 5px;
   color: #034259;
   font-weight: 500;
   box-shadow: 1px 1px 2px #0260828f;
}