.homePage{
   margin-top: 30px;
   width: 100vw;
   margin: auto;
   display: flex;
   justify-content: space-evenly;

   .button{
      width: 180px;
      height: 100px;
      padding: 10px;
      margin: 20px;
      box-shadow: 1px 1px 4px 2px rgba(128, 128, 128, 0.734);
      color: #026082 ;
      line-height: 80px;
      font-weight: 600;
   }
   .button:hover{
      color: white ;
      background-color: #026082 ;
   }
   .button:active{
      background-color: #00739d ;
   }
}