.backButton-container{
   position: absolute;
   top: 0;
   width: 50px;
   height: 100%;

   .backButton{
      display: block;
      z-index: 16;
      position: sticky;
      top: 6px;
      width: 50px;
      font-size: 24px;
      color: white;
   }
   .backButton:hover{
      background-color: #00678d;
   }
   .backButton:active{
      background-color: #00749e;
   }
}


.roomManagement{

   .addNewRoomButton{
      position: absolute;
      right: 30px;
      top: 180px;
      width: 150px;
      padding: 5px;
      background-color: #026082;
      color: white;
      line-height: 25px;
      font-size: 15px;
      text-decoration: none;
      text-align: center;
   }
   .addNewRoomButton:hover{
      background-color: #01688e;
   } 
   .addNewRoomButton:active{
      background-color: #0276a1;
   }


   table{
      font-size: 80%;

      thead{
         th{
            font-weight: 600;
            color: #026082;
            text-align: center;
         }
      }
      tbody{
         td{
            font-size: 11px;
         }
      }
   }
}

ul.slick-dots-bottom{
   bottom: -10px !important;
}