

.backButton-container{
   position: absolute;
   top: 0;
   left: 10px;
   width: 50px;
   height: 100%;

   .backButton{
      display: block;
      z-index: 16;
      position: sticky;
      top: 6px;
      width: fit-content;
      padding: 0 10px;
      font-size: 24px;
      color: white;
   }
   .backButton:hover{
      background-color: #00678d;
   }
   .backButton:active{
      background-color: #00749e;
   }
}


.roomManagement{
   position: relative;
   padding-top: 60px;

   .addNewRoomButton{
      position: absolute;
      z-index: 1;
      right: 20px;
      top: 30px;
      width: 100px;
      background-color: #026082;
      color: white;
      line-height: 25px;
      font-size: 13px;
      text-decoration: none;
      text-align: center;
   }
   .addNewRoomButton:hover{
      background-color: #01688e;
   } 
   .addNewRoomButton:active{
      background-color: #0276a1;
   }

   .filter-area{
      position: absolute;
      top: 27px;
      right: 130px;

      input{
         width: 200px;
         padding: 3px;
         border: unset;
         background-color: rgba(242, 242, 242, 0.756);
         box-shadow: 1px 1px 2px #808080d9;
         padding-left: 10px;
         font-size: 14px;
      }
      input:focus{
         outline: unset;
         background-color: white;
         
      }
   }

   table{
      font-size: 80%;

      thead{
         th{
            font-weight: 600;
            color: #026082;
            text-align: center;
         }
      }
      tbody{
         td{
            font-size: 11px;
         }
      }
   }
}

ul.slick-dots-bottom{
   bottom: -10px !important;
}