.roomStatus{
   
   .bookingHeader{
      position: absolute;
      width: 100%;

      .definition-container{
         display: flex;
         justify-content: flex-end;

         .definition{
            display: flex;
            justify-content: center;
            margin: 0 10px;

            .definitionColor{
               width: 20px;
               margin: 5px;
            }
            .Available{
               background-color: #65e065;
            }
            .Active{
               background-color: #4747fffb;
            }
            .Busy{
               background-color: rgb(223, 0, 0);
            }
         }
      }
   }
   .bookingContent{
      width: 100%;
      padding: 4px;
      margin: 5px auto;

      .typeGroup{
         width: 100%;
         margin: 0 0 20px 0;
      }
   }
}