.typeTitle{
   display: block;
   text-align: left;
   padding-left: 30px;
   font-weight: 500;
   color: #026082;
}

.room-group{
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   background-color: #f0f0f0;
   border-radius: 2px;
   box-shadow: 1px 1px 4px #026082;

   .room{
      width: 100px;
      height: 30px;
      padding: 5px;
      margin: 8px;
      line-height: 20px;
      border-radius: 3px;
      box-shadow: 1px 1px 2px #80808078;
      font-weight: 500;

      p{
         text-align: center;
      }
   }
   .room:hover{
      cursor: pointer;;
      opacity: 0.8;
   }
   .available{
      background-color: #65e065;
   }
   .active{
      background-color: #4747fffb;
      color: white;
   }
   .busy{
      background-color: #e14848;
   }

}

.rooms-modal{
   .rooms-modal-btn{
      border: unset;
   }
   .rooms-modal-btn:hover{
      background-color: #006d94;
      color: white;
   }
   .rooms-modal-btn:active{
      background-color: #005675;
      color: white;
   }
   .set-status-btn{
      background-color: #026082;
      color: white;
   }
}