.tableButton{
   
   .button{
      background-color: #026082;
      color: white;
      display: block;
      width: 40px;
      padding: 2px 4px;
      margin: 2px;
      font-size: 9px;
      border: unset;
      border-radius: 3px;
      text-align: center;
      text-decoration: none;
   }
   
   .button:hover{
      cursor: pointer;
      background-color: #00688e;
   }
   .button:active{
      background-color: #02729b;
   }
}
