.userInfoBox {
   height: fit-content;
   margin: 5px;

   .user-info-email{
      color: #026082;
   }
}
.logout-button{
   width: 100px;
   padding: 3px;
   color:#026082;
   font-weight: 600;
   border: unset;
}
.logout-button:hover{
   color: white;
   background-color: #026082;
}